.all-blogs {
  padding: 4rem 2rem;
  margin-top: 8rem;
}

.all-blogs .categories-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.all-blogs .categories-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.all-blogs .blogs-section {
  display: flex;
  justify-content: center;
}

.all-blogs  .blogs-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

.all-blogs .blog-card {
  background-color: #ffffff87;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 2.5rem 2rem;
}

.all-blogs .blog-card h3{
  font-size:4rem;
}

.all-blogs .blog-card .blog-meta{
  font-size: 1.5rem;
  margin-left: 1rem;
}

.all-blogs .blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.all-blogs .blog-card-top {
  position: relative;
}

.all-blogs .blog-card-bot .blog-content{
  display: flex;
  gap: 2rem;
}



.all-blogs .blog-image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #f0f0f0;
}

.all-blogs .blogs-section .blog-content img{
  max-width: 65rem;
  min-width: 65rem;
  max-height: 40rem;
} 

.all-blogs .blog-content {
  padding: 1.5rem;
}

.all-blogs .blog-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.all-blogs .blog-description {
  font-size: 1.4rem;
  color: #212121;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.all-blogs .blog-meta {
  font-size: 0.9rem;
  color: #777;
}

.all-blogs .read-more-btn {
  padding: 0.8rem 1.8rem;
  font-size: 1.6rem;
  color: #fff;
  background: linear-gradient(90deg, var(--secondary-color), var(--accent-color));
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #005f8a;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .all-blogs {
    margin-top: 1rem;
  }

  .categories-heading {
    font-size: 1.5rem;
  }

  .all-blogs .blog-card{
    padding: 1.5rem 1rem;
  }

  .all-blogs .blog-card .blog-meta{
    margin-left: 0;
  }

  .all-blogs .blog-card h3{
    font-size: 2.5rem;
  }

  .all-blogs .blog-card-bot .blog-content{
    flex-direction: column;
  }

  .blogs-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .all-blogs .blogs-section .blog-content img{
    max-width: 80%;
    min-width: 100%;
  }
}

@media (max-width: 500px) {
  .all-blogs .blog-title {
    font-size: 1.5rem;
  }

  .all-blogs .blog-description {
    font-size: 1.25rem;
  }


}
